<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285007619600-ubav8pla5v0l0p48hjdcp7r4lqunvac4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285007619600-ubav8pla5v0l0p48hjdcp7r4lqunvac4</string>
	<key>API_KEY</key>
	<string>AIzaSyBzeT8LzBufoH280LE4Fmcmr1PIdlaQDYE</string>
	<key>GCM_SENDER_ID</key>
	<string>285007619600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iosApp</string>
	<key>PROJECT_ID</key>
	<string>dennis-firebase-playground</string>
	<key>STORAGE_BUCKET</key>
	<string>dennis-firebase-playground.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285007619600:ios:46e7de747399aa78</string>
	<key>DATABASE_URL</key>
	<string>https://dennis-firebase-playground.firebaseio.com</string>
</dict>
</plist>